@page
@using Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation
@model Lernify.Web.Areas.Admin.Pages.Courses.Categories.IndexModel
@{
    ViewData["Title"] = "دسته بندی ها";
    ViewData["selected"] = "";

}
< class="row ">
<a asp-page="Add" class="btn btn-save mr-2 mb-4 float-right">افزودن دسته بندی</a>
<div class="col-12 info shadow pl-0 pr-0">
    <p class="title">
        <i class="fa fa-paper-plane"></i>
        @ViewData["Title"]
    </p>
    <div class="info-body ">
        <div id="accordion">
            @if (Model.CategoryDto.Count > 0)
            {
                @foreach (var item in Model.CategoryDto)
                {
                    <div class="card">
                        <div class="card-header" id="h_@item.Id">
                            <h5 class="mb-0">
                                <button class="btn btn-link " data-toggle="collapse" data-target="#a_@item.Id" aria-expanded="true" aria-controls="a_@item.Id">
                                    @item.Title
                                </button>
                            </h5>
                        </div>
                        <div id="a_@item.Id" class="collapse " aria-labelledby="h_@item.Id" data-parent="#accordion">
                            <div class="card-body">
                                <a asp-page="AddChilds" asp-route-categoryId="@item.Id" class="btn btn-save mr-2 mb-4 float-right">افزودن زیر دسته بندی</a>
                                <table class="table   table-hover  table-striped text-center">
                                    <thead>
                                        <tr>
                                            <th>عنوان</th>
                                            <th>slug</th>
                                            <th>عملیات</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item.Childs.Count > 0)
                                        {
                                            @foreach (var child in item.Childs)
                                            {
                                                <tr>
                                                    <td>@child.Title</td>
                                                    <td>@child.Slug</td>
                                                    <td>
                                                        <a asp-page="Edit" asp-route-courseId="@item.Id"
                                                           class="btn btn-info mr-2 mb-4">ویرایش</a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="5">موردی برای نمایش یافت نشد</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <table class="table   table-hover  table-striped text-center">
                    <tbody>
                        <tr>
                            <td colspan="5">موردی برای نمایش یافت نشد</td>
                        </tr>
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>