@page
@model Lernify.Web.Pages.Profile.ChangePasswordModel
@{
    ViewData["Title"] = "تغیر کلمه عبور";
    Layout = "Shared/_ProfileLayout";
}
<div class="row ">
    <div class="col-12 info shadow pl-0 pr-0">
        <p class="title">
            <i class="fa fa-address-card-o"></i>
            @ViewData["Title"]
        </p>
        <div class="info-body p-2">
            <form method="post" class="row">
                <div class="col-12">
                    <p class="mb-0">
                        <i class="fa fa-user"></i>
                        کلمه عبور فعلی :
                    </p>
                    <input asp-for="@Model.CurrentPassword" type="password" class="form-control">
                    <span class="text-danger" asp-validation-for="@Model.CurrentPassword"></span>
                </div>

                <div class="col-12 col-lg-6 col-md-6 mb-3">
                    <p class="mb-0">
                        <i class="fa fa-user"></i>
                        کلمه عبور جدید :
                    </p>
                    <input asp-for="@Model.NewPassword" type="password" class="form-control">
                    <span class="text-danger" asp-validation-for="@Model.NewPassword"></span>
                </div>

                <div class="col-12 col-lg-6 col-md-6 mb-3">
                    <p class="mb-0">
                        <i class="fa fa-user"></i>
                        تکرار کلمه عبور جدید :
                    </p>
                    <input asp-for="@Model.ConfirmPassword" type="password" class="form-control">
                    <span class="text-danger" asp-validation-for="@Model.ConfirmPassword"></span>
                </div>

                <div class="col-12">
                    <button type="submit" class="btn  btn-save  mt-3">ثبت تغیرات</button>
                </div>
            </form>
        </div>
    </div>

</div>
